body {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: black;
}

.container {
    width: 500px;
    height: 600px;
    border: 2px blue solid;
    background-color: darkblue;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
}

#scorebar {
    border: 2px blue solid;
    border-right: 0px;
    border-top-left-radius: 900px;
    border-bottom-left-radius: 900px;
    width: 50px;
    height: 30px;
    background-color: blue;
    color: aqua;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px black;
}

#ball {
    position: relative;
    border: 2px black;
    border-style: groove;
    width: 50px;
    height: 50px;
    border-radius: 90%;
    background-color: cyan;
    animation-direction: alternate;
}

.rep {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rep:hover {
    background-color: aquamarine;
}

#floor {
    position: absolute;
    width: 80px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    bottom: 0%;
    transition: all 1ms;
    animation-direction: 1ms;
    animation-direction: alternate;
}